{% extends 'core/base.html.twig' %}

{% block title %}
	Dark Rosted Coffee
{% endblock %}

{% block content %}
	<section class="m-md-5 inner-section contact-part">
		<div class="container">
			<div class="row">
				<div class="col-xxl-4">
					<div class="contact-card">
						<h4>Find us</h4>
						<p>455 Rue Fournier, Saint-Jérôme, QC J7Z 4V2</p>
						<div class="contact-map">
							<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2782.605157084539!2d-74.00255968416035!3d45.77910272039621!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4ccf2ca45e889b7f%3A0x23b59b4c40094d27!2zQ8OpZ2VwIGRlIFNhaW50LUrDqXLDtG1l!5e0!3m2!1sfr!2sca!4v1672853973967!5m2!1sfr!2sca" aria-hidden="false" tabindex="0" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
						</div>
					</div>
				</div>
				<div class="col-xxl-4">
					<div class="contact-card row">
						<div class="div col-md-6 col-xxl-12">
							<h4>Phone</h4>
							<p>
								<a href="#">1-436-DRCF</a>
							</p>
							<p>
								<a href="#">450-436-1580</a>
							</p>
						</div>
						<div class="div col-md-6 col-xxl-12">
							<h4>Contact us</h4>
							<p>
								<a href="#">contact@darkroastedcoffee.ca</a>
							</p>
							<p>
								<a href="#">info@darkroastedcoffee.ca</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-xxl-4" >
					<div class="contact-card">
						<h4>What is this website about :</h4>
						<p>This site is in no way functional. The creation and use of the site is for educational purposes only as part of a computer course. No transactions work. Products are unavailable on this site. The name of this company is fictitious. Images, products and descriptions are taken from other sources.</p>
					</div>
				</div>
				<div class="col-xxl-6">
					<div class="contact-card">
						<h4>Sources:
						</h4>
						<p>Products and pictures: <a href="https://balzacs.com/collections/whole-bean?filter.p.m.coffee_product_info.roast_type=Light">Balzacs</a></p>
						<p>Products and pictures: <a href="https://cafune.ca/collections/grinder-burrs-accessories">Cafune</a></p>
					</div>
				</div>
				<div class="col-xxl-6">
					<form class="contact-form">
						<h4>Something to tell us ?</h4>
						<div class="form-group mt-1">
							<div class="form-input-group">
								<input class="form-control" type="text" placeholder="Name">
							</div>
						</div>
						<div class="form-group mt-1">
							<div class="form-input-group">
								<input class="form-control" type="text" placeholder="Email">
							</div>
						</div>
						<div class="form-group mt-1">
							<div class="form-input-group">
								<input class="form-control" type="text" placeholder="Subject">
							</div>
						</div>
						<div class="form-group mt-1">
							<div class="form-input-group">
								<textarea class="form-control" placeholder="Your message"></textarea>
							</div>
						</div>
						<button type="submit" class="form-btn-group mt-1">
							<span>Envoyer votre message</span>
						</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>{% endblock %}{% block stylesheets %}<link rel="stylesheet" href="{{ asset('styles/contacts.css') }}">{% endblock %}{% block javascripts %}{% endblock %}
