.img-product {
    height: 80px;
    width: auto;
}

.page {
    min-height: 55vh;
}

.table-body td{
    vertical-align: middle;
}

.table-body input {
    width: 75px;
}

.summary-table {
    font-size: 24px;
}

.icon-delete i{
    color: red;
}